#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 0px 5px 0px;
}