header {
    background-color: #312450;
    padding: 0;
    margin: 0;
    width: 100%;
}

header headerBar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 80px;
    max-height: 80px;
    align-items: center;
    color: white;
}

header h2 {
    text-transform: uppercase;
    margin-left: 35px;
    color: white;
}

header a {
    text-decoration: none;
}

header headerBar menu {
    display: flex;
    margin: 0;
    height: 69px;
    flex-direction: row;
    margin-left: 20px;
}

header menu div {
    height: 100%;
    color: rgb(97, 11, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header menu div a {
    display: flex;
    text-decoration: none;
    font-size: 20pt;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

header menu div:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

header research {
    margin-left: 50px;
}

header research input {
    height: 30px;
    color: black;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 5.5px 5.5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: 1px solid;
    border-color: black;
}

header research input::placeholder {
    color: black;
}

header research button {
    height: 25px;
    border: 1px solid;
    border-color: black;
    height: 34px;
}

header connect {
    margin-left: 60px;
    margin-right: 35px;
}

header connect a {
    border-style: solid;
    padding: 7px;
    text-decoration: none;
    color: rgb(162, 162, 162);
    transition-duration: 0.5s;
}

header connect a:hover {
    border-style: solid;
    padding: 7px;
    text-decoration: none;
    color: rgb(200, 100, 200);
}

header button {
    cursor: pointer;
}

header button:hover {
    background-color: rgb(255, 125, 255);
}