html,
body {
    margin: 0;
    height: 100%;
    background-color: #333333;
    background-image: url("../images/intro.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

body {
    display: table;
    width: 100%;
}

body bodyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

body footer {
    display: table-row;
    background-color: #333333;
    color: #d49625;
    text-align: center;
    font-size: 20px;
    height: 20px;
}