mainPage {
    margin-top: 45px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

mainPage contentTopPage {
    display: grid;
    grid-template-columns: 450px 400px;
    grid-template-rows: 60px 250px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-self: center;
    margin-bottom: 50px;
}

mainPage contentTopPage textImageCenter {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 20pt;
    text-align: left;
    line-height: 60px;
    margin-left: 15px;
}

mainPage contentTopPage img {
    grid-area: 2 / 1 / 3 / 2;
    width: 450px;
    height: 250px;
}

mainPage contentTopPage contentPresentation {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

mainPage contentTopPage contentPresentation contents {
    display: flex;
    flex-direction: row;
    width: 300%;
}

mainPage contentTopPage contentPresentation contents .content {
    width: 100%;
    font-size: larger;
}

mainPage contentTopPage contentPresentation buttonsContent {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

mainPage contentTopPage contentPresentation buttonsContent button {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
}

mainPage contentTopPage contentPresentation buttonsContent button:hover {
    cursor: pointer;
}

mainPage contentTopPage contentPresentation buttonsContent #btnBefore {
    background: url("../images/before.png");
    background-size: 100% 100%;
}

mainPage contentTopPage contentPresentation buttonsContent #btnAfter {
    background: url("../images/after.png");
    background-size: 100% 100%;
}

mainPage #lineSeparator {
    width: 80%;
    border-top: 8px solid #bbb;
    border-radius: 5px;
    margin-bottom: 20px;
}

mainPage listFormations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}