form {
    margin-top: 40px;
    border-style: solid;
    padding: 30px;
    text-align: center;
}

form label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

form input {
    margin-bottom: 20px;
}

switchChangeStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

switchChangeStyle h3 {
    margin-right: 10px;
}

switchChangeStyle .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

switchChangeStyle .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

switchChangeStyle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

switchChangeStyle .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

switchChangeStyle input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

switchChangeStyle .slider.round {
    border-radius: 34px;
}

switchChangeStyle .slider.round:before {
    border-radius: 50%;
}